<ion-view view-title="Receita">
  <ion-content>
    <h1>Receita X</h1>

    <p>ATENÇÃO: se você tiver alergia a algum dos igredientes, não utilizá-lo. Se tiver dúvidas, entrar em contato conosco via a aba chat no menu.</p>

    <p>Antes de começar:</p>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    <p>Ingredientes:</p>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    <p>Preparo:</p>
    <p>Junte, aqueça, mistura, espere, use.</p>

    <p>Agora que você já sabe como fazer, é só procurar onde comprar!</p>
    <button class="button button-block button-positive" type="submit" ng-click="irMapa()">Onde Comprar</button>
  </ion-content>
</ion-view>
