<ion-view view-title="Receita">
  <!-- Podemos colocar um nome para a receita, se quisermos -->
  <ion-content class="pagina-detalhe-receita">
    <h2>{{resultado}}</h2>

    <p class="atencao-alergia">ATENÇÃO: caso tenha alergia a algum dos igredientes sugeridos, não utilizá-lo. Para mais dúvidas, entrar em contato conosco via a aba chat no menu.</p>

    <p class="pagina-detalhe-receita-titulo">Antes de começar:</p>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    <p class="pagina-detalhe-receita-titulo">Ingredientes:</p>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

    <p class="pagina-detalhe-receita-titulo">Preparo:</p>
    <p>Junte, aqueça, mistura, espere, use.</p>

    <p>Agora que você já sabe como fazer, é só procurar onde comprar!</p>
    <button class="button button-block button-royal" type="submit" ng-click="irMapa()">Onde Comprar</button>
  </ion-content>
</ion-view>
