<ion-view view-title="Sobre">
  <!-- ajustar espaçamento geral da página -->
  <ion-content class ="pagina-sobre">

      <h1>COLOCAR LOGO!</h1>
    <!-- ajustar tamanho P -->

    <div class="sobre-nosso-significado">
      <p> <strong>Lorem</strong> vem do latim e significa cuidado. <p>

      <span>Nosso propósito é fazer com que mais pessoas possam ter praticidade e economia na hora de cuidar de suas peles. </span>

      <span>A maioria dos sabonetes industrializados disponíveis no mercado são fabricados utilizando uma série de produtos químicos que podem acabar provocando alergias e outros malefícios para a pele. </span>
    
      <span>Nossa solução traz sugestões de onde comprar os ingredientes para que você possa fazer em casa os sabonetes terapêuticos à base de glicerina. </span>
    </div>

      <div class="sobre-os-benefícios">
        <p> Conheça mais sobre cada tipo de benefício:
          <ul>
            <li>Hidratação - previne pele ressecada e opaca</li>
            <li>Anti-Acne - tratamento de cravos e espinhas</li>
            <li>Rejuvenescimento - diminui linhas de expressão </li>
            <li>Redução de pelos - reduz e evita pêlos encravados</li>
            <li>Esfoliação - remove células mortas</li>
            <li>Clareamento de manchas - suaviza manchas na pele</li>
          </ul>
        </div>

  </ion-content>
</ion-view>
