<ion-view view-title="Tire suas dúvidas">
  <ion-content class="pagina-tire-suas-duvidas">

    <div class="conversa-chat">
      <img src="img/conversa-chat-2.png" alt="conversa">
    </div>

    <div class="inputChat">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Digite sua mensagem...">
        </label>
        <button class="button button-small">
          <i class="icon ion-android-send"></i>
        </button>
      </div>

    </div>

    </ion-list>
  </ion-content>
</ion-view>
