/*ajustes gerais*/
body{
  font-family: 'Open Sans', sans-serif;
  color: #585b59;
}

ion-header-bar.bar-stable.bar.bar-header{
  background-color: #5f837e;
}

.bar.bar-stable .title{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

button.button.button-icon.button-clear.ion-navicon{
  color: white;
}

i.icon{
  color: white;
}

h1.title.title-left{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.title.title-left.header-item{
  color: white;
  font-weight: bold;
}

a.item-content{
  font-size: 16px;
  color: #585b59;
}

button.button.button-block.button-royal{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

/*ajustes início*/
.pagina-inicio{
  padding: 15px;
/*background: url("../img/fundo-inicio.png");
  background-size: 100% 100%;*/
}

.pagina-inicio-conteudo{
  height: 100%;
  position: relative;
}

.pagina-inicio-conteudo img{
  width: 70%;
  display: block;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 15%;
  right: 15%;
}

.pagina-inicio-conteudo p{
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 30%;
  left: 5%;
  right: 5%;
  padding: 20px 0;
}

.pagina-inicio-conteudo button.button.button-block.button-royal{
  position: absolute;
  bottom: 0;
}


/*ajustes página faca-o-seu*/
.pagina-faca-o-seu{
  padding: 15px 15px 5px 15px;
}

.textos-formulario{
  position: relative;
}

.pagina-faca-o-seu-chamada{
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
}

.textos-formulario{
  margin-bottom: 20px;
}

/*ajustes página detalhe-receita*/
.pagina-detalhe-receita{
  padding: 15px;
}

.pagina-detalhe-receita h2{
  color: #585b59;
}

.atencao-alergia{
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  margin: 0;
}

.pagina-detalhe-receita-titulo{
  padding: 15px 0 5px 0;
  font-size: 14px;
  font-weight: bold;
}

/*ajustes página onde-comprar*/
ng-map{
  height: 600px;
}

/*ajustes página tire-suas-duvidas*/
.pagina-tire-suas-duvidas{
  position: absolute;
}

.conversa-chat{
  position: relative;
  bottom: 0;
}

.conversa-chat img{
  width: 100%;
}

.item.item-input-inset{
  background-color: #694873;
}

.inputChat{
  position: absolute;
  bottom: 0;
  width: 100%;
}

button.button.button-small{
  background-color: #694873;
  border: solid white 1px;
}

/*ajustes página sobre*/
.pagina-sobre{
  padding: 15px;
}
